<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github Search App</title>
</head>
<body>

  <header>
    
  </header>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <article>
        <h2>Github Search</h2>
        <pre>Search public user profiles from Github.</pre> 
        <pre>Click on the Search button. Click on the History button, to visit your search history page.</pre>
      </article>
    </div>
    <div class="container">
      <div class="row">
        <div class="btn-group-lg navbar">
          <button class="btn btn-primary" ng-ref="/search" >Search</button>
          |
          <button class="btn btn-primary" ng-ref="#">History</button>
        </div>
      </div>
    </div>
    </div>
  
</body>
</html>