<div class="row">
  <div class="col-md-10">
    <article>
      <div class="card-header">
        <h2>Github Search</h2>
      </div>
      <div class="card-body">
        <pre>Search public user profiles from Github.</pre> 
        <pre>Click on the Search button to go searching public profiles. 
          Click on the History button to visit your search history to manage your search history.</pre>
  
        </div>
        <div class="col">
          <div class="btn-group-md navbar">
            <button class="btn btn-primary" routerLink="/search">Search</button>
            <button class="btn btn-primary" routerLink="/history">History</button>
          </div>

        </div>
    </article>

  </div>
  <div class="align-content-center">
    
  
  </div>
</div>

